
#about_1 {
	background-image: 
		linear-gradient(rgba(120, 0, 60, 0.3), rgba(120, 0, 60, 0.7));
	padding: 283px 0;
	h1 {
		font-size: 6rem;
		color: $secondary-font;
		font-weight: 700;
	}
	p {
	    font-weight: 300;
		margin: 0 0 10px;
		line-height: 1.6;
		margin-top: 0;
		font-size: 2.625rem;
		color: rgba(255, 255, 255, 0.8) !important;
		margin-bottom: 0rem;

		
	}
}
#ash_1 {
	padding-top: 7.8125rem;
	padding-bottom: 7.8125rem;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	.ash_2 {
        margin-bottom: 9.25rem;
        margin-right: -.3125rem;
        margin-left: -.3125rem;
        width: 100%;
        display: table;
        box-sizing: border-box;
        .ash_3 {
            padding-left: 0.313rem;
            padding-right: 0.313rem;
            width: 25%;
            display: table-cell;
			float: none;
			vertical-align: middle;
        }
        .ash_4 {
            padding-left: 0.313rem;
            padding-right: 0.313rem;
            margin-bottom: 0rem;
            width: 25%;
            display: table-cell;
			float: none;
			vertical-align: middle;
        }
        .ash_5 {
            width: 8.33333333%;
        }
        .ash_6 {
            width: 41.66666667%;
            display: table-cell;
			float: none;
			vertical-align: middle;
			h2 {
			    margin-bottom: 1.5625rem;
			    font-size:  4rem !important;
			    text-transform: capitalize;
			    font-weight: 400;
				font-family: Montserrat, sans-serif;
				line-height: 1.2;
				color: #242424;
				margin-top: 0;
				box-sizing: border-box;
			}
			p {
			font-size: 1.80rem !important;
			font-weight: 300;
			color: #656565;
			line-height: 1.6;
			margin-top: 0;
			margin-bottom: 1rem;
			margin: 0 0 10px;
			
			}
	    } 

    }
    .ash_7 {
        margin-bottom: 9.25rem;
        margin-right: -.3125rem;
        margin-left: -.3125rem;
        width: 100%;
        display: table;
        box-sizing: border-box;
        .ash_3 {
            padding-left: 0.313rem;
            padding-right: 0.313rem;
            width: 25%;
            display: table-cell;
			float: none;
			vertical-align: middle;
        }
        .ash_4 {
            padding-left: 0.313rem;
            padding-right: 0.313rem;
            margin-bottom: 0rem;
            width: 25%;
            display: table-cell;
			float: none;
			vertical-align: middle;
        }
        .ash_5 {
            width: 8.33333333%;
        }
        .ash_6 {
            width: 41.66666667%;
            display: table-cell;
			float: none;
			vertical-align: middle;
			text-align: right;
			h2 {
			    margin-bottom: 1.5625rem;
			    font-size:  4rem !important;
			    text-transform: capitalize;
			    font-weight: 400;
				font-family: Montserrat, sans-serif;
				line-height: 1.2;
				color: #242424;
				margin-top: 0;
				box-sizing: border-box;
			}
			p {
			font-size: 1.80rem !important;
			font-weight: 300;
			color: #656565;
			line-height: 1.6;
			margin-top: 0;
			margin-bottom: 1rem;
			margin: 0 0 10px;
			
			}
	  
        }
    }
}












#js__scroll-to-section {
         width: 100%;
		 padding-top: 12rem;
		 padding-bottom: 10rem;
		 padding-right: .9375rem;
		 padding-left: .9375rem;
		 margin-right: auto;
		 margin-left: auto;
		 box-sizing: border-box; 
		 .container {
		    padding-left: 50px;
            padding-right: 50px;
		 }  

	       
	    
	    h2 {
	        margin-bottom: 7rem;
	        text-transform: capitalize;
	        text-align: center;
	        font-size: 4rem !important;
	        font-weight: 400;
			font-family: Montserrat, sans-serif;
			line-height: 1.2;
			color: #242424;
			margin-top: 0;

			    
	    }
	    p {
	        font-size: 1.80rem !important;
			font-weight: 300;
			color: #656565;
			line-height: 1.6;
			margin-top: 0;
			margin-bottom: 1rem;
			margin: 0 0 10px;
	    }
	    .ash_8 {
	        text-align: center;
	        .ash_9 {
	            margin-bottom: 3rem;
	        }
	    }
}
#testimonial_as {
	.demo{
	    h1 {
	        
			margin-top: 20px;
			margin-bottom: 10px;
			
			text-align: center;
			
			
			
			font-size: 4rem !important;
			font-weight: 400;
			font-family: Montserrat, sans-serif;
			line-height: 1.2;
			color: #242424;
			margin-top: 0;
	    }
    
	}
	.testimonial{
	    background: #fff;
	    text-align: center;
	    padding: 40px 20%;
	    border-radius: 5px;
	}
	.testimonial .pic{
	    width: 100px;
        height: 100px;
	    border-radius: 50%;
	    overflow: hidden;
	    margin: 0 auto;
	}
	.testimonial .pic img{
	    width: 100%;
	    height: auto;
	    filter: grayscale(100%);
	}
	.testimonial .testimonial-title{
	    font-size: 23px;
		color: hotpink;
		letter-spacing: 3px;
		text-transform: uppercase;
		margin-bottom: 0;
	}
	.testimonial .post{
	    display: block;
	    font-size: 12px;
	    font-style: italic;
	    color: #bcbcbc;
	    margin-top: 10px;
	    text-transform: uppercase;
	}
	.testimonial .description{
	    font-size: 17px;
		font-style: italic;
		color: #86868a;
		line-height: 1.8;
		margin-top: 10px;
		margin: 0 0 10px;
	}
	.owl-theme .owl-controls{
	    width: 100%;
	    position: absolute;
	    top: 45px;
	}
	.owl-theme .owl-controls .owl-buttons div{
	    font-size: 18px;
	    background: transparent;
	    opacity: 0.5;
	}
	.owl-theme .owl-prev{
	    position: relative;
	    left: -45px;
	}
	.owl-theme .owl-next{
	    position: relative;
	    right: -45px;
	}
	.owl-prev:before,
	.owl-next:before{
	    content: "\f177";
	    font-family: 'FontAwesome';
	    color: #444;
	}
	.owl-next:before{
	    content: "\f178";
	}
	@media only screen and (max-width: 480px){
	    .testimonial{
	        padding: 40px 10%;
	    }
	}
}

#ash_11 {
	padding-top: 0;
	padding-bottom: 0;
	border-bottom:  0.0625rem dashed pink;

}


#Future_client{
    background:#fff;
    padding-bottom:70px;
    margin-bottom: 50px;
}
.medical_title3 p {
	font-size: 1.80rem !important;
	
	max-width: 778px;
	margin: 0 auto;
	text-align: center;
	font-size: 1.80rem !important;
	font-weight: 300;
	color: #656565;
	
	
	
	
}
.medical_title3 h2 {
	color: hotpink;
	font-size: 42px;
	text-transform: uppercase;
	font-weight: 700;
	margin-top: 45px;
}
.medical_title3 p {

	padding: 36px 0px;
	
			
}
.carousel-indicators {
	bottom: 0px;
}
.item img {
	border: 2px solid;
}
.owl-item {
	margin-right: 3px;
}