.adoption_slider{
    padding: 80px 15px 35px;
    margin: 0 auto;
    background-image: url('../images/adoption-form/bord.jpg');
}


#adoption_slider .heading{
    text-align: center;
    padding-top: 35px;
    padding-bottom: 50px;
    background-color: white;
}
#adoption_slider h1{
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    letter-spacing: 2px;
}

.adoption-slogan {
    color: #b703b4 !important;
}

#adoption-form .thumbnail a{
    color: #a508a4; 
}
#adoption-form .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
    background-color: #B6005B;
    color: #fff;
}


.heading{
    p {
        font-size: 1.5em;
        font-weight: 500;
    }
    .deep-mgs {
        font-size: 1.5em;
        font-weight: 700;
    }
}


.formh1, .form-area h4  {
    text-transform: uppercase;
}
.formh1{
    padding-bottom: 20px;
    font-weight: 500;
}
#adoption-form {
    background-color: #B6005B;
    padding: 70px 10px;
    color: white;
    input {
        border: none;
        padding: 20px 10px;
        font-size: 1.1em;
        font-weight: 500;
        transition: 0.3s;
        &:focus {
            padding: 25px 10px;
        }
    }
    .butt-submit {
        padding: 1rem 2.5rem;
        border: 2px solid #fff;
        border-color: #fff;
    }
}
.form-area {
    padding-top: 60px;
}
.form-area h4{
    padding-top: 30px;
    
}
form .button {
    padding-top: 30px;
}
form .btn-default {
    background-color: #000; 
    border-color: #fff;
    color: #fff;
}
