#adoptpage-header .parallax { 
    /* The image used */
    background-image: linear-gradient(rgba(120, 0, 60, 0.4), rgba(120, 0, 60, 0.8)), url(../images/adoption/adoptnow.jpg); 

    /* Set a specific height */
    height: 470px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px 0px 150px 0px;
}
#adoptpage-header li a {
    border-color: #fff;
    color: #fff;
    font-size: 20px; 
    background-color: rgba(120, 0, 60, 0.3);
}
#adoptpage-header .active {
    background-color: #db277e;
}
/*<-- search box style is here -->*/

#adoptpage-header h2 {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    padding-bottom: 15px;
    font-weight: 700px;
}
#adoptpage-header p{
    text-align: center;
    margin: 30px;
    color: #fff;
    font-size: 16px;
}

#adoption-serices-all {
    padding: 50px 5px;
    .col-sm-3 {
    	padding: 15px;
    }
    .card {
    	padding: 15px;
    }
}
#adoption-serices-all .tab-content{
    padding-top: 40px;
}
#adoption-serices-all #page-nav {
    margin: 15px;
    text-align: center;
}
#adoption-serices-all h2{
    color: #db277e;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    word-spacing: 2px;
}
