#contact-parallax {
    .parallax {
        background-size: cover;
        background-position: center center;
        background: fixed;
    }
    .social {
        position: relative;
        height: 3em;
        width: 13.5em;
        margin: 100px 450px;
        li {
            display: block;
            height: 4em;
            line-height: 4em;
            margin: -2.2em;
            position: absolute;
            -webkit-transition: -webkit-transform .7s;
            -moz-transition: -moz-transform .7s;
            -ms-transition: -ms-transform .7s;
            -o-transition: -o-transform .7s;
            transition: transform .7s;
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
            text-align: center;
            width: 4em;
            &:hover {
                -webkit-transform: scale(1.3,1.3) rotate(45deg);
                -moz-transform: scale(1.3,1.3) rotate(45deg);
                -ms-transform: scale(1.3,1.3) rotate(45deg);
                -o-transform: scale(1.3,1.3) rotate(45deg);
                transform: scale(1.3,1.3) rotate(45deg);
            }
            a {
                color: #fffdf0;
                display: block;
                height: 4em;
                line-height: 6em;
                text-align: center;
                -webkit-transform: rotate(-45deg);
                -moz-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
                transform: rotate(-45deg);
                width: 4em;
            }
        }
        .facebook {
            background: #155b9d;
            left: 0;
            top: 0%;
        }
        .twitter {
            background: #1a9ec4;
            bottom: 0;
            left: 25%;
        }
        .pinterest {
            background: #e11a30;
            left: 50%;
            top: 0%;
        }
        .behance {
            background: #3f7aa3;
            bottom: 0;
            left: 75%;
        }
        .instagram {
            background: #a35015;
            left: 100%;
            top: 0%;
        }
    }
}


// #contact-parallax .parallax { 
//     /* The image used */
//     background-size: cover;
//     background-position: center center;
//     background: fixed;  
// }
#contact_form {
    .contact_title {
        h2 {
            color: #fff;
            font-size: 51px;
            font-weight: 700;
            margin-top: 77px;
        }
        p {
            font-size: 18px;
            padding: 4px;
            color: #fff;
        }
    }
    .contact_in{
        .form_area_1, .form_area_2 {
            input {
                margin: 10px;
            }
        }
        .submit {
            textarea {
                width: 95%;
                margin-left: 38px;
                margin-bottom: 15px;
            }
            .btn-default {
                color: #fff;
                background-color: #c63db1;
                border-color: transparent;
            }
            .form-control {
                display: block;
                width: 95%;
                height: 34px;
                padding: 6px 12px;
                font-size: 14px;
                line-height: 1.42857143;
                color: #000;
                background-color: #fff;
                background-image: none;
                border: 1px solid #fff;
                border-radius: 4px;
                -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            }
        }
    }
}


#Contact_buffalo_area {
    padding: 10px 0px 80px;
    overflow: hidden;
}
.submit {
    margin-bottom: 62px;
}
#contact_form{ 
   background:url(../images/contact/con_bg.jpg) fixed; background-size:cover; background-position:center center;
}

.background_overlay{
    background-image:linear-gradient(rgba(120, 0, 60, 0.7), rgba(120, 0, 60, 0.7));
    width: 100%;

}
/**************End of Form-Control *******************/



.item_text a {
    text-decoration: none;
    font-size: 16px;
}
.item_text h3 {
    color: red;
    font-size: 29px;
}
.ch-info-back a {
    font-size: 17px;
    color: #fff;
    background: red;
    padding: 5px 8px;
    border-radius: 50px;
    text-decoration: none;
}
.ch-info-back a:hover {
    background: #C60EAA;
}

.ch-info-back {
    overflow: hidden;
    padding-top: 79px;
}
.ch-grid {
    margin: 20px 0 0 0;
    padding: 0;
    list-style: none;
    display: block;
    text-align: center;
    width: 100%;
}

.ch-grid:after,
.ch-item:before {
    content: '';
    display: table;
}

.ch-grid:after {
    clear: both;
}

.ch-grid li {
    width: 220px;
    height: 220px;
    display: inline-block;
    margin: 20px;
}

.ch-img-1{background:url(../images/contact/1.png); background-size:cover; background-position:center center;}
.ch-img-2{background:url(../images/contact/2.png); background-size:cover; background-position:center center;}
.ch-img-3{background:url(../images/contact/3.png); background-size:cover; background-position:center center;}
.ch-img-4{background:url(../images/contact/4.png); background-size:cover; background-position:center center;}





.ch-item {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    cursor: default;
}

.ch-info-wrap, 
.ch-info{
    position: absolute;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    -ms-perspective: 800px;
    perspective: 800px;
}

.ch-info-wrap {
    top: 20px;
    left: 20px;
    background: #f9f9f9 url(../images/bg.jpg);
    box-shadow: 
        0 0 0 20px rgba(255,255,255,0.2), 
        inset 0 0 3px rgba(115,114, 23, 0.8);
    
}

.ch-info {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.ch-info > div {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-position: center center;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    -ms-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}

.ch-info .ch-info-front {
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    
    z-index: 100;
    box-shadow: 
        inset 2px 1px 4px rgba(0,0,0,0.1);
}

.ch-info .ch-info-back {
    background: rgba(230,132,107,0);
}

.ch-info h3 {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    margin: 0 25px;
    padding: 40px 0 0 0;
    height: 90px;
    font-family: 'Open Sans', Arial, sans-serif;
    text-shadow: 
        0 0 1px #fff, 
        0 1px 2px rgba(0,0,0,0.3);
}

.ch-info p {
    color: #fff;
    padding: 10px 5px;
    font-style: italic;
    margin: 0 30px;
    font-size: 12px;
    border-top: 1px solid rgba(255,255,255,0.5);
}

.ch-info p a {
    display: block;
    color: #fff;
    color: rgba(255,255,255,0.7);
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 9px;
    letter-spacing: 1px;
    padding-top: 4px;
    font-family: 'Open Sans', Arial, sans-serif;
}

.ch-info p a:hover {
    color: #fff222;
    color: rgba(255,242,34, 0.8);
}


.ch-item:hover .ch-info-front {
    -webkit-transform: rotate3d(1,0,0,-180deg);
    -moz-transform: rotate3d(1,0,0,-180deg);
    -o-transform: rotate3d(1,0,0,-180deg);
    -ms-transform: rotate3d(1,0,0,-180deg);
    transform: rotate3d(1,0,0,-180deg);
    
    box-shadow: 
        inset 0 0 5px rgba(255,255,255,0.2), 
        inset 0 0 3px rgba(0,0,0,0.3);
}

.ch-item:hover .ch-info-back {
    background: rgba(230,132,107,0.6);
}


.peuple_title h2 {
    font-size: 43px;
    font-weight: 700;
    color: #9b0f8f;
}

.peuple_title p {
    font-size: 17px;
    max-width: 833px;
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 20px 0 40px;
}

.peuple {
    background-color: #ddd;
    padding: 20px 0;
    i {
        color: hotpink;
    }
    h2 {
        font-weight: 700;
    }
    p{
        font-size: 1.5em;
        font-weight: 500;
    }
}






.tagline {
    font-size: 60px;
    color: #fff;
    word-spacing: 5px;
    line-height: 70px;
    margin-top: .3em;
    font-size: 50px;
    text-transform: none;
    text-align: center;
    margin: 0.95em 0px 0px;
}
.call4social {
    color: #fff;
    font-weight: 700;
}

/*<<Follow US>>*/





