#gallery-banner {
	background-image: 
		linear-gradient(rgba(120, 0, 60, 0.3), rgba(120, 0, 60, 0.3)),
		url(../images/gallery/banner.jpg);
	background-size: cover;
	padding: 331px 0;
	z-index: -99;
	h1 {
		color: #fff;
		font-weight: 700;
	}
}



#gallery-main {
	padding: 50px 80px;
	background-color: #E2E1E0;
	clear: both;
	overflow: hidden;
	.row-heading {
		margin-bottom: 80px;
		h1 {
			font-size: 3em;
			font-weight: 700;
		}
		p {
			font-size: 1.5em;
			font-weight: 500;
		}
	}
	.demo-gallery {
		a {
			text-decoration: none;
		}
		.col-md-4, .col-md-8, .col-md-6, .col-md-12 {
			padding: 25px;
			.card {
			padding: 15px;
			img {
				display: block;
			}
			figure {
				color: #000;
				font-size: 1.2em;
				font-weight: 500;
				padding: 5px 0;
			}
			}
		}
	}
}