/* Small Devices, Tablets */

@media (min-width: 992px) {
  header {
    h1 {
  	 font-size: 2em;
		 /*font-family: "PT";*/
		 color: $secondary-font;
		 font-weight: 700;
		 transition: all 0.3s ease;
		 padding-top: 50px;
		 padding-left: 30%;
		 margin-top: 12px;
    }
    .pull-right {
    	position: relative;
    }
    &.sticky {
			h1 {
				margin-top: 10px;
			}
    }
  }

  #animatedModal {
  	.close-animatedModal {
  		padding: 20px 80px;
  	}
  	.modal-content {
  		ul {
  			a {
  				font-size: 2em;
  				&:hover {
  					font-size: 2.5em;
  					padding: 20px;
  				}
  			}
  		}
  	}
  	.social {
	  	h4 {
	  		bottom: 160px;
	  	}
	  	ul {
	  		&>a {
	  			padding: 8px 12px;
	  			&:first-child {
	  				margin-bottom: 0;
	  			}
	  		}
	  	}
	  }
  }
  

  #banner {
  	h1 {
  		font-size: 6rem;
  	}
  	.carousel-caption {
  		a {
  			font-size: 2rem;
  		}
  	}
  }

  #adoption {
  	padding: 150px 0;
  	h1 {
  		font-size: 6rem;
  	}
  	a {
  		font-size: 2rem;
  	}
  }

  #collection {
  	.right {
  		padding: 0;
  	}
  }

  #vet {
  	padding: 150px 0;
  	h1 {
  		font-size: 6rem;
  	}
  	a {
  		font-size: 2rem;
  	}
  }

  #care {
  	.left {
  		padding: 0;
  	}
  }

  #shop {
  	.main-carousel {
  		.carousel-cell {
  			width: 32.5%;
  		}
  	}
  }

  #counter {
  	padding: 160px 0;
  }

  #get2know {
  	padding: 160px 0;
  	h1 {
  		font-size: 6rem;
  	}
  	a {
  		font-size: 2rem;
  	}
  }

  footer {
  	.pull-right {
  		margin-top: 0;
  	}
  }

} //End of Medium Device Style


@media (max-width: 767px) {
	header {
		h1 {
			padding: 0;
			text-align: center;
		}
		.pull-right {
			position: absolute;
			top: 25%;
			right: 10%;
		}
		&.sticky {
			h1 {
				margin: 5px;
			}
		}
	}

	#animatedModal {
  	.modal-content {
  		ul {
  			a {
  				font-size: 1.5em;
  				margin-bottom: 15px;
  				border-right: 2px solid #fff;
  				padding-right: 8px;
  				&:last-child {
  					margin-bottom: 0;
  				}
  				&:hover {
  					font-size: 1.5em;
  					padding: 0;
  				}
  			}
  		}
  	}
  	.social {
	  	h4 {
	  		bottom: 230px;
	  	}
	  	ul {
	  		bottom: 20px;
	  		&>a {
	  			padding: 4px 10px;
	  			&:hover {
	  				border-radius: 5%;
	  				padding: 0;
	  			}
	  			&:first-child {
	  				margin-bottom: 0;
	  			}
	  		}
	  	}
	  }
  }

  #banner {
  	h1 {
  		font-size: 3rem;
  	}
  	.item1 {
  		background-image: 
			linear-gradient(rgba(120, 0, 60, 0.3), rgba(120, 0, 60, 0.3)),
			url(../images/banner_mob.jpg);
  		background-size: cover;
  	}
  	.item2 {
  		background-image: 
			linear-gradient(rgba(120, 0, 60, 0.3), rgba(120, 0, 60, 0.3)),
			url(../images/banner2_mob.jpg);
  		background-size: cover;
  	}
  	.item3 {
  		background-image: 
			linear-gradient(rgba(120, 0, 60, 0.3), rgba(120, 0, 60, 0.3)),
			url(../images/banner3_mob.jpg);
  		background-size: cover;
  	}
  	.carousel-caption {
  		a {
  			font-size: 1.5rem;
  		}
  	}
  }

  #features {
  	.section-header {
  		h1 {
  			font-size: 2em;
  		}
  	}
  }

  #adoption {
  	padding: 120px 0;
  	a {
  		font-size: 1.5rem;
  	}
  }

  #collection {
  	.right {
  		padding: 0 20%;
  		margin-bottom: 30px;
  	}
  }

  #vet {
  	padding: 120px 0;
  	h1 {
  		font-size: 3rem;
  	}
  	a {
  		font-size: 1.5rem;
  	}
  }

  #care {
  	.left {
  		padding: 0 20%;
  		margin-top: 30px;
  	}
  	.middle {
  		padding-bottom: 0;
  	}
  }

  #shop {
  	h1 {
  		background-color: rgba(120, 0, 60, 0.5);
  		padding: 10px;
  		border-radius: 2%;
  	}
  	.main-carousel {
  		.carousel-cell {
  			width: 100%;
  		}
  	}
  }

  #counter {
  	padding: 100px 0;
  	h1 {
  		font-size: 3rem;
  	}
  }

  #get2know {
  	padding: 120px 0;
  	h1 {
  		font-size: 3rem;
  	}
  	a {
  		font-size: 1.5rem;
  	}
  }

  footer {
  	.sub {
  		button {
  			font-size: 1em;
  			padding-left: 2px;
  		}
  	}
  	.pull-right {
  		margin-top: 20px;
  	}
  }


}