#wowslider-container0{
  padding: 80px 0 0;
  background-color: #842783;
  h1 {
    color: #fff;
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 20px;
  }
}

#doctors {
  .content {
    padding-top: 70px;
    padding-bottom: 100px;
    .heading {
      z-index: 1;
      position: relative;
      text-align: center;
      margin-bottom: 100px;
      h2 {
        font-size: 40px;
      font-weight: 500;
      margin: 0 0 20px;
      color: #d848db;
      padding-bottom: 25px;
      }
      p {
        font-size: 20px;
        font-weight: 400;
        letter-spacing: 0.8px;
        text-transform: uppercase;
        color: #8693a7;
        padding: 30px;
      }
    }
    .team-members {
      width: 100%;
      cursor: pointer;
      overflow: hidden;
      position: relative;
      margin-bottom: 35px;
      .team-avatar {
        width: 100%;
        cursor: pointer;
        overflow: hidden;
        position: relative;
        margin-bottom: 35px;
        &:after {
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          content: " ";
          position: absolute;
          background: rgba(129, 129, 129, 0.1);
          transition-duration: 300ms;
          transition-property: all;
          transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
        }
        img {
          display: block;
          margin: 0 auto;
          text-align: center;
        }
      }
      .team-desc {
        left: auto;
        bottom: 0;
        width: 100%;
        padding: 0 20px;
        position: absolute;
        opacity: 0;
        color: #fff;
        -webkit-transform: translate3d(0, 10%, 0);
        transform: translate3d(0, 10%, 0);
        -webkit-transition: opacity 0.3s;
        -moz-transition: opacity 0.3s;
        -ms-transition: opacity 0.3s;
        -o-transition: opacity 0.3s;
        transition: opacity 0.3s;
        h4 {
          font-size: 22px;
          font-weight: 600;
          margin: 0 0 10px;
          color: #fff;
        }
        span {
          display: block;
          font-size: 13px;
          font-weight: 600;
          text-transform: uppercase;
          color: #fff;
        }
      }
      &:hover {
        background: rgba(216, 72, 219, 0.5);
        transition-duration: 300ms;
        transition-property: all;
        transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
        .team-desc {
          -webkit-transform: translate3d(0, -5%, 0);
          transform: translate3d(0, -5%, 0);
          -webkit-transform: translate3d(0, -10%, 0);
          transform: translate3d(0, -10%, 0);
          opacity: 1;
          -webkit-transition: all 0.4s;
          -moz-transition: all 0.4s;
          -ms-transition: all 0.4s;
          -o-transition: all 0.4s;
          transition: all 0.4s;
        }
        .team-avatar{
          &:after {
            background: rgba(216, 72, 219, 0.5);
            transition-duration: 300ms;
            transition-property: all;
            transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
          }
        }
      }
    }
    .thumbnail {
      border: none;
    }
  }
}


/* ============================================================
  PRIMARY STRUCTURE
============================================================ */
.parallax .container {
  max-width: 1000px;
  margin: 0 auto;
}
/* ============================================================
  SECTIONS
============================================================ */
section.module:last-child {
  margin-bottom: 0;
}

section.module.parallax {
  height: 500px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding-top: 90px;
  h2 {
    padding-bottom: 30px;
    color: white;
  }
}
section.module.parallax h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 35px;
  line-height: 650px;
  font-weight: 650;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

section .emergency {
  padding: 30px;
}

section.module.parallax-1 {
  background-image: url("../images/medi/emergency.jpg");
}

section.module.parallax-2 {
  background-image: url("../images/medi/emergency.jpg");
}

@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax h1 {
    font-size: 76px;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 160px;
  }
}

#medical-services {
  padding-top: 90px;
  padding-bottom: 70px;
  background-color: #E2E1E0;
  .medical-services {
    padding-top: 50px;
    .thumbnail {
      padding: 20px;
      min-height: 490px;
      p {
        font-size: 14px;
        font-weight: 500;
      }
    }
  }
}


#rescuer {
  .content {
    padding-top: 70px;
    padding-bottom: 100px;
    .heading {
      z-index: 1;
      position: relative;
      text-align: center;
      margin-bottom: 100px;
      h2 {
        font-size: 40px;
      font-weight: 500;
      margin: 0 0 20px;
      color: #d848db;
      padding-bottom: 25px;
      }
      p {
        font-size: 20px;
        font-weight: 400;
        letter-spacing: 0.8px;
        text-transform: uppercase;
        color: #8693a7;
        padding: 30px;
      }
    }
    .team-members {
      width: 100%;
      cursor: pointer;
      overflow: hidden;
      position: relative;
      margin-bottom: 35px;
      .team-avatar {
        width: 100%;
        cursor: pointer;
        overflow: hidden;
        position: relative;
        margin-bottom: 35px;
        &:after {
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          content: " ";
          position: absolute;
          background: rgba(129, 129, 129, 0.1);
          transition-duration: 300ms;
          transition-property: all;
          transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
        }
        img {
          display: block;
          margin: 0 auto;
          text-align: center;
        }
      }
      .team-desc {
        left: auto;
        bottom: 0;
        width: 100%;
        padding: 0 20px;
        position: absolute;
        opacity: 0;
        color: #fff;
        -webkit-transform: translate3d(0, 10%, 0);
        transform: translate3d(0, 10%, 0);
        -webkit-transition: opacity 0.3s;
        -moz-transition: opacity 0.3s;
        -ms-transition: opacity 0.3s;
        -o-transition: opacity 0.3s;
        transition: opacity 0.3s;
        h4 {
          font-size: 22px;
          font-weight: 600;
          margin: 0 0 10px;
          color: #fff;
        }
        span {
          display: block;
          font-size: 13px;
          font-weight: 600;
          text-transform: uppercase;
          color: #fff;
        }
      }
      &:hover {
        background: rgba(216, 72, 219, 0.5);
        transition-duration: 300ms;
        transition-property: all;
        transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
        .team-desc {
          -webkit-transform: translate3d(0, -5%, 0);
          transform: translate3d(0, -5%, 0);
          -webkit-transform: translate3d(0, -10%, 0);
          transform: translate3d(0, -10%, 0);
          opacity: 1;
          -webkit-transition: all 0.4s;
          -moz-transition: all 0.4s;
          -ms-transition: all 0.4s;
          -o-transition: all 0.4s;
          transition: all 0.4s;
        }
        .team-avatar{
          &:after {
            background: rgba(216, 72, 219, 0.5);
            transition-duration: 300ms;
            transition-property: all;
            transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
          }
        }
      }
    }
    .thumbnail {
      border: none;
    }
  }
}


#rescue-services {
  padding-top: 90px;
  padding-bottom: 70px;
  background-color: #E2E1E0;
  .rescue-services {
    padding-top: 50px;
    .thumbnail {
      padding: 20px;
      min-height: 520px;
      p {
        font-size: 14px;
        font-weight: 500;
      }
    }
  }
}

