#portfolio_area {
	padding: 40px 0px;
}
.single_slide_area {
	display: flex;
	flex-direction: column;
	text-align: left;
	height: 503px;
	padding-top: 144px;
	padding-left: 90px;
}
.single_slide_area h1 {
	color: #fff;
	font-size: 70px;
	font-weight: 700;
}
.single_slide_area p{
	color: #fff;
	font-size: 20px;
	margin-bottom:30px;
}
.single_slide_area a{
	text-decoration: none;
	color: #000;
	font-size: 21px;
	display: inline-block;
	padding: 12px 28px;
	background: #FF69B4;
	font-size: 18px;
	border-radius: 50px;
	width: 155px;
}
.head_btn1{background: white !important;margin-left: 166px;
margin-top: -48px;}

.portfolio_filter {
	padding: 20px 0px;
}
.well_title p {
	max-width: 617px;
	margin: 0 auto;
	padding-bottom: 16px;
}

.portfolio_contents ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.portfolio_filter ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.portfolio_filter ul li {
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  color: #000;
  font-weight: 700;
  font-size: 1.2em;
  }

.single_portfolio {
  position: relative;
  overflow: hidden; 
  }

  
 .submit {
    margin-bottom: 62px;
}