// Import My Variables
@import "myVariables";

// Import BootStrap Variables
@import "CustomVariables";

//Import BootStrap
@import "bootstrap";

@import "back2top";

//CSS Resets

*, *:after, *:before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


// <-----------------------------Styling---------------------------->


//Global

@font-face {
	font-family: 'SSP';
	src: url("../fonts/OpenSans-Regular.ttf") format('truetype');
}

@font-face {
	font-family: 'SF';
	src: url("../fonts/San Francisco.ttf") format('truetype');
}

@font-face {
	font-family: 'PT';
	src: url("../fonts/PT_Sans-Web-Regular.ttf") format('truetype');
}

.buttonize {
	padding: 1rem 2.5rem;
	border: 2px solid #000;
	border-radius: 3.125rem;
	display: inline-block;
	margin-top: 25px;
	font-size: 1.5rem;
	color: $primary-font;
	transition: 0.5s;
	text-transform: uppercase;
	font-weight: 600;
	&:hover{
		color: #fff;
		background-color: hotpink;
		text-decoration: none;
	}
}

.card {
  background-color: #fff;
  border: none;
  border-radius: 2px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  transition: 0.3s;
  &:hover {
    box-shadow: 0 9px 28px rgba(0,0,0,0.30), 0 5px 2px rgba(0,0,0,0.22);
  }
}




//Homepage Styles

body {
	font-family: "SSP";
}

a {
	text-decoration: none;
	color: #fff;
}

header {
	width: 100%;
	padding: 12px 30px 6px;
	position: fixed;
	transition: all 0.3s ease-in-out;
	z-index: 4;
	h1 {
	 font-size: 1.2em;
	 /*font-family: "PT";*/
	 color: $secondary-font;
	 font-weight: 700;
	 transition: all 0.3s ease;
	 padding: 20px 0 0 60px;
	 margin-top: 12px;
	}
	.pull-right {
		position: relative;
	}
	nav {
		.logos {
			a{
				padding: 0;
			}
			.dark-logo {
				opacity: 0;
			}
		}
		.nav-modal {
			.fa {
				&:hover {
					color: hotpink;
				}
			}
		}
	}
	&.sticky {
		background-color: #fff;
		box-shadow: 0px 0px 12px -1px rgba(120, 0, 60, 1);
		z-index: 5;
		h1 {
			font-size: 14px;
			color: hotpink;
			padding: 0;
			margin-top: 15px;
		}
		.slogan {
			padding: 0;
		}
		.col-md-2 {
			.light-logo {
				display: none;
			}
			.dark-logo {
				opacity: 1;
			}
		}
		.fa {
			color: #000;
		}
	}
}

#animatedModal {
	z-index: 4;
	.close-animatedModal {
		padding: 20px;
		cursor: pointer;
		color: #fff;
		.fa {
			color: #fff;
		}
	}
	.modal-content {
		background-color: hotpink;
		box-shadow: none;
		border: none;
		padding: 0 20% 0 0;
		ul {
			a {
				text-decoration: none;
				color: #fff;
				font-size: 1.5em;
				display: block;
				text-align: right;
				transition: all 0.3s;
				&:hover {
					font-size: 2em;
					font-weight: 700;
					padding: 10px;
				}
			}
		}
	}
	.social {
		padding: 0 20px;
		h4 {
			position: absolute;
			bottom: 180px;
			color: #fff;
		}
		ul {
			position: absolute;
			bottom: 60px;
			&>a {
				font-size: 16px;
				color: #fff;
				text-decoration: none;
				padding: 6px 10px;
				margin-right: 10px;
				transition: 0.3s ease-in-out;
				display: inline-block;
				.fa {
					color: #fff;
				}
				&:hover {
					font-size: 20px;
					border-radius: 55px;
					font-weight: 700;
				}
				&:first-child {
					display: inline-block;
					margin-bottom: 8%;
					&:hover {
						background-color: #3B5998;
					}
				}
				&:nth-child(2) {
					&:hover {
						background-color: #1DA1F2;
					}
				}
				&:nth-child(3){
					&:hover {
						background-color: #DC4A38;
					}
				}
				&:nth-child(4) {
					&:hover {
						background-color: #D52423;
					}
				}
				&:last-child {
					margin-right: 0;
					&:hover {
						background-color: #18B475;
					}
				}
			}
		}
	}
}

#banner {
	.carousel-fade {
    .carousel-inner {
    	z-index: 3;
        .item {
            transition-property: opacity;
        }
        .item,
        .active.left,
        .active.right {
            opacity: 0;
        }
        .active,
        .next.left,
        .prev.right {
            opacity: 1;
        }
        .next,
        .prev,
        .active.left,
        .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
    }
    .carousel-control {
        z-index: 2;
    }
	}
	.item1 {
		background-image: 
		linear-gradient(rgba(120, 0, 60, 0.3), rgba(120, 0, 60, 0.3)),
		url(../images/banner.jpg);
		background-size: cover;
		padding: 331px 0;
		z-index: -99;
	}
	.item2 {
		background-image: 
		linear-gradient(rgba(120, 0, 60, 0.3), rgba(120, 0, 60, 0.3)),
		url(../images/banner2.jpg);
		background-size: cover;
		padding: 331px 0;
		z-index: -99;
	}
	.item3 {
		background-image: 
		linear-gradient(rgba(120, 0, 60, 0.3), rgba(120, 0, 60, 0.3)),
		url(../images/banner3.jpg);
		background-size: cover;
		padding: 331px 0;
		z-index: -99;
	}
	h1 {
		font-size: 3.5rem;
		color: $secondary-font;
		font-weight: 700;
	}
	.carousel-caption {
		z-index: 6;
		margin-bottom: 120px;
			a {
			padding: 1rem 2.5rem;
			border: 2px solid #fff;
			border-radius: 3.125rem;
			display: inline-block;
			margin-top: 25px;
			font-size: 1.5rem;
			color: $secondary-font;
			transition: 0.5s;
			text-transform: uppercase;
			font-weight: 300;
			&:hover{
				background-color: hotpink;
				text-decoration: none;
			}
		}
	}
}

#features {
	padding: 100px 0 40px;
	.section-header{
		padding: 0 0 80px;
	}
	h3 {
		margin-top: 0;
	}
	i {
		color: hotpink;
	}
	.row:first-child {
		margin-bottom: 50px;
	}
	.col-sm-6 {
		text-align: center;
	}
}


#adoption {
	background-image: 
		linear-gradient(rgba(120, 0, 60, 0.4), rgba(120, 0, 60, 0.8));
		padding: 120px 0;
		background-size: cover;
		h1 {
			color: $secondary-font;
			font-size: 3.5rem;
			font-weight: 700;
			margin: 0;
		}
		a {
			padding: 1rem 2.5rem;
			border: 2px solid #fff;
			border-radius: 3.125rem;
			display: inline-block;
			margin-top: 25px;
			font-size: 1.5rem;
			color: $secondary-font;
			transition: 0.5s;
			text-transform: uppercase;
			font-weight: 300;
			&:hover{
				background-color: hotpink;
				text-decoration: none;
			}
		}
}

#collection {
	.left {
		padding: 0 100px;
		.section-header{
			margin-top: 100px;
			h4 {
			text-transform: uppercase;
			font-weight: 600;
			color: hotpink;
			}
			h1{
				font-size: 7rem;
			}
		}
	}
	.middle{
		padding: 80px;
		text-align: justify;
		p{
			font-size: 2rem;
			font-weight: 300;
		}
	}
	.right{
		padding: 80px 0;
	}
}


#vet {
	background-image: 
		linear-gradient(rgba(120, 0, 60, 0.4), rgba(120, 0, 60, 0.8));
		padding: 120px 0;
		position: relative;
		h1 {
			color: $secondary-font;
			font-size: 3.5rem;
			font-weight: 700;
			margin: 0;
		}
		a {
			padding: 1rem 2.5rem;
			border: 2px solid #fff;
			border-radius: 3.125rem;
			display: inline-block;
			margin-top: 25px;
			font-size: 1.5rem;
			color: $secondary-font;
			transition: 0.5s;
			text-transform: uppercase;
			font-weight: 300;
			&:hover{
				background-color: hotpink;
				text-decoration: none;
			}
		}
}


#care {
	.left {
		padding: 80px 0;
	}
	.middle {
		padding: 80px;
		text-align: justify;
		p{
			font-size: 2rem;
			font-weight: 300;
		}
	}
	.right {
		padding: 0 100px;
		.section-header{
			margin-top: 100px;
			h4 {
			text-transform: uppercase;
			font-weight: 600;
			color: hotpink;
			}
			h1{
				font-size: 7rem;

			}
		}
	}
}

#shop {
	background-image: linear-gradient(rgba(120, 0, 90, 0.6), rgba(120, 0, 90, 0.6));
	background-size: cover;
	padding: 60px 0;
	h1 {
		color: #fff;
		margin-bottom: 50px;
	}
	.main-carousel {
		.carousel-cell {
			width: 49%;
			min-height: 480px;
			padding: 15px;
			background-color: #fff;
			margin-right: 15px;
			border: 2px solid hotpink;
			border-radius: 2px;
			h3, p {
				color: #000;
				font-weight: 300;
			}
			.price {
				font-size: 1.5em;
				color: hotpink;
			}
			.buttonize {
				margin: 0 0 10px;
				padding: 5px 10px;
			}
		}
	}
}


#stories{
	padding: 80px 0;
	h1{
		margin-bottom: 80px;
	}
	a {
		text-decoration: none;
		color: #fff;
	}
	.col-md-4{
		padding: 1px;
	}
	.story {
		.content {
			position: relative;
			.overlay {
				background: rgba(170, 0, 85, 0.7);
				position: absolute;
				height: 100%;
				width: 100%;
				opacity: 0;
				transition: all 0.5s;
			}
			&:hover .overlay {
				opacity: 1;
			}
			.content-details {
				position: absolute;
				width: 100%;
				bottom: 35%;
				top: 50%;
				left: 50%;
				opacity: 0;
				-webkit-transform: translate(-50%, -50%);
  			-moz-transform: translate(-50%, -50%);
  			transform: translate(-50%, -50%);
  			-webkit-transition: all 0.3s ease-in-out 0s;
  			-moz-transition: all 0.3s ease-in-out 0s;
  			transition: all 0.3s ease-in-out 0s;
				a {
					display: inline-block;
					position: relative;
					top: 30px;
				}
			}
			&:hover .content-details {
				opacity: 1;
				top: 15%;
				.buttonize {
					border: 2px solid #fff;
					padding: 10px;
					border-radius: 3rem;
					position: relative;
					top: 40px;
					display: inline-block;
					font-size: 16px;
					transition: all 0.2s;
					&:hover {
						background-color: #fff;
						color: hotpink;
						font-size: 18px;
					}
				}
			}
		}
	}
}

#counter {
	background-image: 
		linear-gradient(rgba(120, 0, 60, 0.4), rgba(120, 0, 60, 0.8));
	padding: 120px 0;
	background-size: cover;
	.counter-element {
		border: 2px solid hotpink;
		border-radius: 2%;
		padding: 15px; 
		background-color: rgba(0, 0, 0, 0.4);
	}
	h1 {
		color: #fff;
		font-size: 300%;
		font-weight: 700;
	}
}

// #get2know {
// 	background-image: 
// 		linear-gradient(rgba(120, 0, 60, 0.4), rgba(120, 0, 60, 0.4));
// 	padding: 120px 0;
// 	background-size: cover;
// 	h1 {
// 		color: #fff;
// 		font-weight: 700;
// 	}
// 	a {
// 		padding: 1rem 2.5rem;
// 		border: 2px solid #fff;
// 		border-radius: 3.125rem;
// 		display: inline-block;
// 		margin-top: 25px;
// 		font-size: 1.5rem;
// 		color: $secondary-font;
// 		transition: 0.5s;
// 		text-transform: uppercase;
// 		font-weight: 300;
// 		&:hover{
// 			background-color: hotpink;
// 			text-decoration: none;
// 		}
// 	}
// }


footer {
	background-color: #222324;
	padding: 80px 0 60px;
	.sub {
		margin-bottom: 80px;
		input, button {
			width: 80%;
			margin: 0;
			padding: 1em;
			font-size: 1em;
			background-color: #fff;
			border: none;
			outline: none;
			border-radius: 3.125rem 0 0 3.125rem;
			transition: all ease-in-out 0.3s;
			&:focus {
				background-color: hotpink;
				font-weight: 600;
				color: #fff;
			}
		}
		button {
			width: 19%;
			margin-left: -4px;
			color: #fff;
			border-radius: 0 3.125rem 3.125rem 0;
			text-decoration: none;
			z-index: 999999;
			background-color: rgb(180, 45, 110);
			&:hover {
				background-color: hotpink !important;
			}
		}
	}
	ul {
		li {
			list-style-type: none;
			padding: 12px 0;
			a {
				text-decoration: none;
				color: #fff;
				font-weight: 300;
				&:hover {
				color: hotpink;
				}
			}
		}
	}
	h3, p {
		color: #fff;
	}
	.pull-right {
		color: #fff;
		margin-top: 20px;
	}
}


//External Stylesheets
@import "about";
@import "adoption-form";
@import "medical-style";
@import "contact-style";
@import "gallery-style";
@import "portfolio-style";
@import "adoption-page-style";

//Animated Heart

.fa-beat {
  animation:fa-beat 5s ease infinite;
}
@keyframes fa-beat {
  0% {
    transform:scale(1);
  }
  5% {
    transform:scale(1.25);
  }
  20% {
    transform:scale(1);
  }
  30% {
    transform:scale(1);
  }
  35% {
    transform:scale(1.25);
  }
  50% {
    transform:scale(1);
  }
  55% {
    transform:scale(1.25);
  }
  70% {
    transform:scale(1);
  }
}
.heart {
  color:red;
}

//Resposive Stylesheets

@import "home-tablet";


